.list__collection {
    height: 4rem;
    /* border-bottom: 1px solid lightgray; */
    margin-left: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    /* border: 2px solid black; */
}

.list__collection-name {
    width: 80%;
    overflow-wrap: break-word;
    /* border: 1px solid darkgreen; */
}

.list__collection:hover {
    background-color: var(--blue);
    cursor: pointer;
}

#collection-form__edit-errors {
    width: 100%;
    font-size: rem;
    margin-top: 1rem;
}
