#collections__container {
    display: flex;
    flex-flow: row nowrap;
    /* background-color: blue; */
    border:4px solid black;
}

#collections__left {
    width: 30%;
    flex-direction: column;
}

#collections__right {
    width: 70%;
}
