#collection-form__container {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    /* background-color: cadetblue; */
}

#collection-form__label {
    font-weight: 600;
    margin-bottom: 1rem;
    width: 100%;
    /* background-color: red; */
}

#collection-form__errors {
    margin-top: 1rem;
    font-size: .75rem;
}

#collection-form__flex input {
    width: 100%;
    margin-bottom: .7 rem;
    justify-content: space-around;
}

#collection-form__flex button {
    width: 100%;
}

/* * {
    border: 1px solid red;
} */
