#collection-form__container {
    margin-left: 2.5rem;
    height: 8.5rem;
}

#collection-form__label {
    font-weight: 600;
    margin-bottom: 1rem;
    width: 100%;
}

#collection-form__errors {
    margin-top: .5rem;
    font-size: .75rem;
    height: 1rem;
}

#collection-form__flex input {
    width: 100%;
    margin-bottom: .7 rem;
    justify-content: space-around;
}

#collection-form__flex button {
    width: 100%;
}
