#collection__breadcrumb {
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    /* border-top: 1px solid lightgray; */
    font-weight: 300;
}

#collection__breadcrumb-inner {
    margin-left: 2.5rem;
}

/****************************************/

#collections__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    /* background-color: var(--blue); */
    min-height: 350px;
    /* border: 1px solid black; */
}

/****************************************/

#collections__left {
    width: 30%;
    flex-direction: column;
}

/****************************************/

#collections__right {
    margin-left: 2rem;
    width: 60%;
}

.collection__header {
    font-weight: 700;
    color: var(--blue);
    padding-bottom: 1rem;
}
