.comments-div {
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    /* box-shadow: rgba(0, 0, 0, 0.01) 0px 12px 34px 0px; */
    /* background-color: dodgerblue; */
    /* border: 1px solid darkblue */
}

.color {
    /* background-color: rgb(244, 243, 224, 0.6); */
    border-right: 2px solid var(--yellow)
    /* border-bottom: 1px solid rgb(192, 192, 192, 0.2); */
}

.text-time {
    /* background-color: red; */
    width: 70%;
    max-width: 500px;
}

.comments__text {
    margin-bottom: 5px;
    overflow-wrap: break-word;
    /* border: 1px solid black; */
}

.comments__time {
    font-weight: 100;
    font-size: .8rem;
}

.conditional-buttons {
    padding-right: 2rem;
    /* border: 1px solid black; */
}

#comment-form__edit-errors {
    height: 80px;
    margin-top: 1rem;
    font-size: .75rem;
    width: 100%;
    /* background-color: salmon; */
}
