#footer__container {
    display: flex;
    background-color: var(--gray);
    height: 300px;
    color: white;
}

#footer__right {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* background-color: lightslategray; */
}

#footer__right>* {
    color: white;
    text-decoration: none;
    width: 160px;
    padding-right: 4rem;
    /* background-color: salmon; */
    /* border: 1px solid black; */
}

#footer__container *:hover {
    color: lightblue;
}

#footer__left {
    width: 20%;
    font-size: 30px;
    font-weight: 500;
    /* background-color: salmon; */
    height: 100%;
    margin-left: 2.5rem;
    display: flex;
    padding-top: 50px;
}

.service__right-column {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    /* background-color: salmon; */
}
