/* html {
    height: 100%;
} */

#root {
    min-height: 100vh;
    position: relative;
    padding-bottom: 180px;
}

#footer__container {
    display: flex;
    background-color: var(--gray);
    height: 180px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer__left>* {
    text-decoration: none;
}

#footer__right {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

#footer__right>* {
    color: white;
    text-decoration: none;
    width: 160px;
    padding-right: 4rem;
}

#footer__container *:hover {
    color: lightblue;
    cursor: pointer;
}

#footer__left {
    width: 20%;
    font-size: 30px;
    font-weight: 500;
    height: 100%;
    margin-left: 2.5rem;
    display: flex;
    padding-top: 50px;
}

.service__right-column {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
}
