/* TODO Add site wide styles */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Founders Grotesk", sans-serif;
    /* font-size: 16px; */
    --yellow: rgb(252, 228, 45);
    --gray: rgb(41, 41, 41);
    --blue: rgb(105, 147, 255);
}

*:visited {
    color: inherit;
}

.form {
    display: flex;
    align-items: center;
}

input {
    border: 1px solid rgb(202, 202, 202);
    outline: 0;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-right: 1rem;
    padding: 2px;
}

input:focus {
    border: 2px solid gray;
}

label {
    margin-right: 1rem;
}

button {
    background-color: rgb(202, 190, 190);
    border: 0;
    outline: 0;
    height: 40px;
    width: auto;
    padding: 0 1rem 0 1rem;
    border-radius: 5px;
}
