#signup-form {
    right: 0;
    width: 100%;
    height: 600px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.signup-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 1rem;
}

#signup-errors {
    width: 400px;
    margin-bottom: 2rem;
    color: red;
}
